@{
    ViewBag.Title = "My Daybook";
}

@model DiaryCrud.Models.WeekInfoDto





<div class="row">
    <div class="col-md-4">
        @foreach (var date in Model.Records.Keys)
        {
            <h3>@date.DayOfWeek - @date.Date</h3>
            <ul>
                @if (Model.Records.TryGetValue(date, out List<DiaryCrud.Models.Record> records))
                {
                    foreach (var record in records)
                    {

                        <li>
                            @using (Html.BeginForm("ChangeRecordsText", "Home", FormMethod.Post))
                            {
                            @Html.TextBox("RText", record.Text)
                            @Html.Hidden("Id", $"{record.Id}")
                            <input type="image" src="~/img/pencil.png" alt="Submit feedback" height="18px">
                            }
                              --  @record.IsDone
                            <a href="@Url.Action($"ChangeRecordsState/{record.Id}", "Home")"><img src="~/img/check.png" height="18px" /></a>
                            <a href="@Url.Action($"DeleteRecord/{record.Id}", "Home")"><img src="~/img/trash-bin.png" height="18px" /></a>
                        </li>
                        <br />
                    }
                    using (Html.BeginForm("AddRecord", "Home", FormMethod.Post))
                    {
                        @Html.TextBox("Text")
                        @Html.Hidden("Date", $"{date}")
                        <input type="image" src="~/img/plus.png" alt="Submit feedback" height="18px">
                    }
                }
            </ul>
        }
    </div>
</div>
